/* Estilo geral do corpo */
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f5efff;
	margin: 0;
	padding: 5%;
	color: #f49cbb;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: #68d8d6;
    text-decoration:overline;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color:#f2b5d4;
}
nav ul button{
    border: none;
    background-color: #f2b5d4;
    color: #f5efff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}
nav .menu-icon{
  
  display: none;
  cursor: pointer;
}

/* Estilo do título principal */
h1 {
	text-align: center;
	font-size: 2.5em;
	color: #f49cbb;
}

/* Estilo do contêiner de busca */
#search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	background-color: #f5efff;
	padding: 20px;
	border-radius: 10px;
}

/* Estilo dos rótulos e inputs */
label {
	margin-right: 10px;
	font-size: 1.2em;
}

input {
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #f49cbb;
	font-size: 16px;
	width: 100%;
	max-width: 300px;
}

/* Estilo do resultado */
#result {
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #f49cbb;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}

/* Estilo das imagens */
.img-bx img {
	width: 100%;
	max-width: 200px;
	display: block;
	margin: auto;
	transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 1s;
}

/* Estilo dos links */
p a {
	color: #ff78c4;
}

/* Estilo dos botões */
button {
	margin: 5px;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: #f49cbb;
	color: #f5efff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #ff78c4;
}

/* Estilo dos capítulos */
#capitulos {
	display: flex;
	align-items: center;
	gap: 5px;
}

.capitulo {
	width: 20px;
}

/* Estilo para o contêiner dos botões de testamento */
#testamentos {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 50px;
	flex-wrap: wrap;
}

/* Estilo para os botões de testamento */
.testamento {
	text-align: center;
	text-decoration: none;
	padding: 15px 30px;
	border-radius: 25px; /* Bordas mais arredondadas */
	background: linear-gradient(45deg, #f49cbb, #ff7597); /* Gradiente de cor */
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Efeito de hover nos botões de testamento */
.testamento:hover {
	background: linear-gradient(45deg, #ff7597, #f49cbb); /* Mudança de cor no hover */
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Efeito de foco nos botões de testamento */
.testamento:focus {
	outline: none;
	background: linear-gradient(45deg, #ff7597, #f49cbb);
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilos para telas maiores (desktops) */
@media only screen and (min-width: 768px) {
	body {
		padding: 2%;
	}

	input {
		width: 50%;
		max-width: 400px;
	}

	.testamento {
		padding: 20px 40px;
		font-size: 1.5em;
	}
}

footer{
    background-color:#f49cbb;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color:#f5efff;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #f5efff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #f49cbb;;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;

}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;

    color: #f49cbb;

    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
    color: #f49cbb;
}

.footer-col .medias-socias a:hover{
    color: #f49cbb;;
    background-color: #f49cbb;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;

    color: #f49cbb;;
    background-color: #f49cbb;;
}
.footer-col .form-sub input::placeholder{
    color:#f2b5d4;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    color:#f49cbb;
    font-weight: bold;
    background-color: #f2b5d4;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}