body {
  background-color: #f5efff;
  color: #ff78c4;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav .logo a {
  font-size: 30px;
  font-weight: bold;
  color: #68d8d6;
  text-decoration: overline;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #f2b5d4;
}

nav ul button {
  border: none;
  background-color: #f2b5d4;
  color: #f5efff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 20px;
  cursor: pointer;
}

nav .menu-icon {

  display: none;
  cursor: pointer;
}

ol>li::marker {
  font-weight: bold;
}

#versiculos {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilos para telas menores (tablets e smartphones) */
@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #versiculos {
    width: 90%;
  }
}

/* Estilos para telas muito pequenas (smartphones) */
@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #versiculos {
    width: 100%;
  }
}
